<div class="jumbo">
  <div class="right tomster"></div>
  <h3>About Pegasus Rentals</h3>
  <p>
    Pegasus rentals website is currently under construction. We finna teach you
    how to make a bless website using ember. It's not too bad. A lot like react
    in some aspects. Let's continue!
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>

{{outlet}}